.container {
  width: 600px;
  margin: auto;
  margin-top: 50px;
}

.row {
  padding: 1px;
  width: 600px;
  height: 20px;
  margin: auto;
  padding: 0px;
}

.tile {
  margin: auto;
  margin-bottom: 0;
  padding: 0px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.ground {
  background-color: brown;
}

.wall {
  background-color: grey;
}

.player {
  background-color: green;
}

.enemy {
  background: red;
}
